In [14]:
from IPython.display import display_html

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://space-facts.com/mars/')
soup = BeautifulSoup(page.text, 'html.parser')

table_data = str(soup.findAll("table", {"id":"tablepress-p-mars-no-2"})[0])

### Here we get the pandas dataframe-type variable "dfs" containing the table data.

In [18]:
dfs = pd.read_html(table_data)[0]
dfs

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

### Here we can use another pandas function to display the table.

In [12]:
display_html(table_data, raw=True)

Equatorial Diameter:,"6,792 km"
Polar Diameter:,"6,752 km"
Mass:,6.39 × 10^23 kg (0.11 Earths)
Moons:,2 (Phobos & Deimos)
Orbit Distance:,"227,943,824 km (1.38 AU)"
Orbit Period:,687 days (1.9 years)
Surface Temperature:,-87 to -5 °C
First Record:,2nd millennium BC
Recorded By:,Egyptian astronomers